header.customer-header{
  text-align: center;
  
}

.customer-container {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  .customer-summary, .qr-code-container{
    flex: 1;
    background: white;
    margin: 0 20px 20px;
    border-radius: 20px;
    box-shadow: @shadow;
    overflow: hidden;
    transition: all 0.3s;
  }
  &.paid{
    .customer-summary, .qr-code-container{
      filter: blur(4px);
    }
    
  } 
}

.customer-summary{
  display: flex;
  flex-direction: column;
  ol{
    flex: 1;
    padding-top: 10px;
  }
  li{
    display: flex;
    padding: 10px 15px;
    border-bottom: @list-item-border;
    > span{
      padding: 5px; 
    }
    .label{
      flex:1;
    }
    .total{
      min-width: 100px;
      text-align: right;
    }
  }
  .grandtotal-container{
    display: flex;
    justify-content: space-between;
    background: #f7f7f7;
    align-items: center;
    padding: 14px 20px;
    border-top: @list-item-border;
    font-size: 1.5rem;
    transition: all 0.3s ease-out;
  }
  .grand-total{
    font-size: 2rem;
    transition: all 0.3s ease-out;
  }
}
.qr-code-container{
  padding-top: 20px;
  text-align: center;
  img{
    max-width: 100%;
  }
  span{
    display: block;
  }
  .order-id{
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 1.3rem;
  }
}

.order-paid-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,0);
  //transform: translateX(-50%);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding-top: 20%;
  transition: background 0.3s;
  pointer-events: none;
  
  .order-paid {
    
  }

  &.visible{
    background: rgba(255,255,255,0.6);

   
  }
}

.ready-for-payment{
  .grandtotal-container{
    font-size: 2rem;
    padding: 30px 20px;
  }
  .grand-total {
    font-size: 2.5rem;
  }
}


@green: #7ac142;
@white: #fff;

// Misc
@curve: cubic-bezier(0.650, 0.000, 0.450, 1.000);

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  margin: 20px auto;
  stroke-width: 2;
  stroke: @white;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px @green;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: @green;
  fill: none;
  animation: stroke .6s @curve forwards;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke .3s @curve .8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px @green;
  }
}


