<ol>
  {{#each model as |product|}}
    {{#if product.count}}
      {{cashier-product model=product }}
    {{/if}}
  {{/each}}
</ol>

<span class="grand-total">{{format-number total style='currency' currency='SEK'}}</span>