<ol>
  {{#each model.rows as |orderRow|}}
    <li>
      <span class="label">{{orderRow.product.label}}</span>
      <span class="count"> {{orderRow.count}}</span>
      <span class="total">{{format-number orderRow.total style='currency' currency='SEK'}}</span>
    </li>
  {{/each}}
</ol>

<div class="grandtotal-container">
  <span class="label">Att betala</span>
  <span class="grand-total">{{format-number total style='currency' currency='SEK'}}</span>
</div>
